* {
  margin: 0;
  padding: 0;
  background-color: gray;
  color: white;
}
.logo {
  padding: 10px;
  color: aquamarine;
  cursor: pointer;
}
nav {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

li {
  float: left;
  list-style-type: none;
}
li a {
  text-decoration: none;
  /* color: black; */
  padding: 10px;
}

.button button {
  padding: 10px;
  border: none;
  background-color: aquamarine;
  border-radius: 10px;
  color: black;
  cursor: pointer;
  /* heigh */
}
.buttton button {
  padding: 20px;
  border: solid black;
  background-color: aquamarine;
  border-radius: 10px;
  color: rgb(160, 15, 15);
  cursor: pointer;
  /* heigh */
}
