* {
  margin: 0%;
  padding: 0%;
}
ul.navbar {
  margin-top: 20px;
  margin-left: 50px;
  list-style-type: none;
}
li {
  float: left;
}
a {
  text-decoration: none;
  color: rgb(89, 89, 89);
  padding: 10px;
  margin: 5px;
  transition: all ease-in-out 0.2s;
}
a:hover {
  border-radius: 10px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 5px;
  background-color: black;
  color: aliceblue;
}
