* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
/* Navbar */
button {
  cursor: pointer;
}
.nav {
  /* margin: 10px; */
  padding: 20px;
  display: flex;
  /* margin: 5px; */
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  backdrop-filter: blur(10px);
  /* color: white; */
  font-size: 20px;
  /* transition: all 0.3s ease-in-out; */
}
.navv {
  position: absolute;
  top: 0px;
}
.logo {
  padding: 5px;
  border: none;
  border-radius: 10px;
  /* background-color: yellowgreen; */
  font-size: large;
}
.ul {
  list-style-type: none;
}
.ul li {
  float: left;
  margin: 10px;
  padding: 5px;
  cursor: pointer;
}
.ul li a {
  /* float: left;*/
  margin: 10px;
  padding: 5px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.ul li a:hover {
  /* float: left; */
  margin: 10px;
  color: blueviolet;
  background-color: azure;
  padding: 5px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.nav-par {
  position: relative;
}

button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: azure;
  /* backdrop-filter: blur(10px); */
}

.hero {
  background-image: url("../images/hero-image.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  display: flex;
  background-attachment: fixed;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  color: white;
}

#about {
  margin: 140px 300px;
}

#about h2 {
  text-align: center;
  font-size: 24px;
  padding-bottom: 26px;
}

#about p {
  margin-bottom: 16px;
}

#destination,
#travel,
#testimonial section {
  display: flex;
  flex-wrap: wrap;
  margin: 140px 300px;
  justify-content: space-between;
}

#destination div,
#travel div {
  /* margin: 5px; */
  width: 300px;
  margin-bottom: 64px;
  /* border: 1px solid gray;
  padding: 10px;
  border-radius: 10px; */
}

#destination div:hover,
#travel div:hover {
  /* width: 300px; */
  /* margin-bottom: 64px; */
  border: 1px solid gray;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#destination img,
#travel img {
  width: 280px;
  height: 200px;
  margin-bottom: 16px;
  border-radius: 10px;
}

#destination p,
#travel p {
  margin-top: 8px;
}
h2,
#testimonial p {
  text-align: center;
}

/* Contact Form Styles */
form input,
form textarea {
  display: block;
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form textarea {
  height: 150px;
}

form button {
  padding: 12px 24px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #555;
}

/* Footer Styles */
footer {
  margin-top: 50;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
  text-align: center;
}

footer p {
  margin: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-between;
}

#testimonial section div {
  width: 300px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f1f1f1;
  border-radius: 15px;
  margin: 15px;
  padding: 0 15px;
}

#testimonial section img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
#contact-us {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
}

#contact-us button {
  background: #333333;
  color: #fff;
  width: 148px;
  height: 48;
  border-radius: 4;
}

#contact-us input,
textarea {
  padding: 4px;
}

footer {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px !important;
  text-align: center;
  padding: 20px;
  margin-top: 16px;
}

@media screen and (max-width: 1240px) {
  #about,
  #destination,
  #travel,
  #testimonial section {
    margin: 64px 150px;
  }
  #testimonial section,
  #destination,
  #travel {
    justify-content: center;
  }
}
@media screen and (max-width: 625px) {
  #about,
  #destination,
  #travel,
  #testimonial section {
    margin: 24px 64px;
  }
  #contact-us {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .nav {
    align-items: flex-start !important;
  }
  nav ul {
    display: flex;
    flex-direction: column;
  }
  nav li {
    margin-top: 0px !important;
  }
  #contact-us button {
    width: 100%;
  }
}
